.accordionCont {
    width: 100%;
    transition: all 10s;
    margin-top: 10px;
    color: white;
}

.accordion-item {
    padding: 1rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.361);
    width: 100%;

}


.accordion-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    cursor: pointer;
    transition: all 0.3s;
}


@media (max-width: 500px) {
    .accordion {
        margin-top: 4rem;
    }


}