@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #00010b;
  --foreground: #ededed;
  --appTheme: #18cb96;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Onest, sans-serif !important;
  font-size: 16px !important;
  font-weight: 400 !important;
}