@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --appTheme: #4E15BF;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --appTheme: #4E15BF;
  }
} */


body {
  color: var(--foreground);
  background: var(--background) !important;
  font-family: Onest, sans-serif !important;
  font-size: 16px;
  font-weight: 400 !important;
  overflow-x: hidden !important;
}


.clients Swiper {
  aspect-ratio: 3/2;
  object-fit: contain;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hide {
  scrollbar-width: none;
}


/* shimmer button */
@keyframes shimmer {
  0% {
    background-position: 0% 0;
  }

  100% {
    background-position: -200% 0;
  }
}

.shimmer-bg {
  background: linear-gradient(110deg, #4E15BF 45%, #6A28D9 55%, #4E15BF) !important;
  background-size: 200% 100%;
  animation: shimmer 2s linear infinite;
}